{% extends 'base.html' %}
{% load static%}
{% load app_filters %}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}

 <p> INSTAPOLL</p>



   <div class=" col-md-4" style="margin:12px">
     <p>{{poll.question_title}}</p>

     <p>{{choices | length}}  choices</p>
     <p>{{voters}} casted</p>
     <h3>{{options}} choices available</h3>

      {% for choice in choices %}
        <p>choice {{choice.id}} | question {{poll.id}}</p>
        <p>| {{choice.choice_text}} |</p>
        <p>{{ votes_for | get_item:choice.id }} out of {{voters}} casted</p>
        <p>{{score}}</p>
        <hr>
      {% endfor %}
   </div>


<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

<dl>
  <dt>A title of the graph</dt>
  <dd class="percentage">
    <span class="text">
      Data 1: 20%
    </span>
  </dd>
  <dd class="percentage">
    <span class="text">
      Data 2: 50%
    </span>
  </dd>
  <dd class="percentage">
    <span class="text">
      Data 3: 30%
    </span>
  </dd>
</dl>





<style media="screen">

      .percentage:after {
        content: "";
        display: block;
        background-color: #3d9970;
      }
      .percentage-20:after {
        width: 20%;
      }
      .percentage-30:after {
        width: 30%;
      }

</style>

{% endblock %}
</div>
