{% extends 'base.html' %}
{% load static%}
{% load app_filters %}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}

 <p> INSTAPOLL</p>



   <div class=" col-md-4" style="margin:12px">
     <p>{{poll.question_title}}</p>

     <p>{{choices | length}}  choices</p>
     <p>{{voters}} casted</p>

      {% for choice in choices %}
        <p>choice {{choice.id}} | question {{poll.id}}</p>
        <p>| {{choice.choice_text}} |</p>
        <p>{{ votes_for | get_item:choice.id }} out of {{voters}} casted</p>
        <p>{{ percentages | get_item:choice.id }} %</p>
        <hr>
      {% endfor %}
   </div>


<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

<div class=" col-md-8 graph-cont">
  <h1>{{poll.question_title}} </h1>
  {% for choice in choices %}

  <div class="bar bar1"></div>

  {% endfor %}

</div>




<style media="screen">
html,body{
font-family: 'Source Sans Pro', sans-serif;
margin: 0;
padding: 0;
}
.graph-cont{
width: calc(100% - 40px);
width: 100%;
max-width: 800px;
margin: 0 auto;
}
h1,h2,h3{
text-align: center;
color: #34495e;
}
.bar{
height: 30px;
max-width: 800px;
margin: 0 auto 10px auto;
line-height: 30px;
font-size: 16px;
color: white;
padding: 0 0 0 10px;
position: relative;
}
.bar::before{
content: '';
width: 100%;
position: absolute;
left: 0;
height: 30px;
top: 0;
z-index: -2;
background: #ecf0f1;
}
.bar::after{
content: '';
background: #2ecc71;
height: 30px;
transition: 0.7s;
display: block;
width: 100%;
-webkit-animation: bar-before 1 1.8s;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.bar1::after{
max-width: calc((100%));
}
.bar2::after{
max-width: 72%;
}
.bar3::after{
max-width: 47%;
}
.bar4::after{
max-width: 20%;
}
@-webkit-keyframes bar-before{
0%{
  width: 0px;
}
100%{
  width: 100%;
}
}

.how-cont{
width: calc(100% - 40px);
width: 100%;
max-width: 800px;
margin: 0 auto;
}
code {
padding: 5px;
background: #ecf0f1;
display: block;
}
pre{
padding: 0;
margin: 0;
}
</style>

{% endblock %}
</div>
