{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}

 <p> INSTAPOLL</p>



 {% if questions %}
   {% for question in questions %}
   <div class="well col-md-4" style="margin:12px">
     <p>{{question.question_title}}</p>
     <p>{{question.instructions}}</p>
     <p>{{question.date_closing | timesince}}</p>
      <p>{{validate_vote | length}}</p>
     {%if validate_vote > 0 %}
     <a href="">
       <button type="button" style="margin:5px"  class="btn btn-danger btn-md  pull-right">Voted</button>
     </a>
      {% else %}
      <a href=" {% url 'castVote' question.id %}">
        <button type="button" style="margin:5px"  class="btn btn-primary btn-md  pull-right">Vote</button>
      </a>
      {% endif %}
     <a href=" {% url 'choice' question.id%}">
       <button type="button" style="margin:5px" class="btn btn-primary btn-md  pull-right">Choice</button>
     </a>
   </div>
    {%endfor%}
  {% endif%}
{% endblock %}
</div>
