{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}

 <p> INSTAPOLL</p>



 {% if question %}

   <div class=" col-md-4" style="margin:12px">
     <p>{{question.question_title}}</p>
     <p>{{question.instructions}}</p>
     <p>{{question.date_closing | timesince}}</p><hr style="color:blue;">

     {%if choices%}
        {% for choice in choices %}

        <p>
          <a href="{% url 'vote' choice.id %}">
            <button type="button" class="btn btn-primary" name="button" width="20"> Vote {{choice.choice_text}}</button>
          </a>
        </p>

        {%  endfor %}
        <hr>
        <a href="{% url 'viewResults' question.id %}">
          <button type="button" class="btn btn-success pull-right" name="button" width="20"> Poll Results</button>
        </a>
     {% endif %}

   </div>

  {% endif%}
{% endblock %}
</div>
